<%- include("partials/header"); -%>
<style>
p,h3,h2{
  color: #94b4a4;
  font-size: 1.8rem;
  font-family: 'Fredoka One', sans-serif;
}
#botaoPostarHeader{
  display: none;
}

</style>
<img class="tesaoAnuncio" id="tesao" src="https://sensacion.com.br/wp-content/uploads/2019/11/4-tes%C3%A3o-de-vaca-e-touro-25-2.jpg" alt="">
    <h1>Sobre</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dum
      my text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a typ
      e specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, re
      maining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
       Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
       <p>Aliens recriando primatas de 2000 anos atrás em um planeta rochoso chamado solegore. &copy Matheus Ticogrande.</p>
       <p>Eu morava na selva da Colômbia e usava cocaína..isso durante 30 anos. Teve um dia que meu coração não aguentou e
          explodiu.Acordei no hospital 2 semanas depois com um coração de macaco selvagem transplantado em mim e to na ativa até hoje.</p>
          <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dum
            my text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a typ
            e specimen book.</h3>
          <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dum
            my text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a typ
            e specimen book.</h2>
        <div id="craudinho">
          <h1>Sobre nosso lorde.</h1>
          <img id="craudim" onclick="craudiei()" src="https://scontent.fpfb1-1.fna.fbcdn.net/v/t1.0-9/51392141_620444535054821_2720291311574843392_n.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGuNhbcr4ceSgDid8t_dfegV_fmkKkLKb9X9-aQqQspvz5pqjJaQhRiuhn8KOJJ5SB7Gf45C5FzwG7nFR3xOFsF&_nc_ohc=4DDx-3JKgCcAX-969g5&_nc_ht=scontent.fpfb1-1.fna&oh=e0dcaab2344fe3fed56bf2da59022bc0&oe=5FC1456F" alt="">
          <a id="craudioLink" href="https://www.facebook.com/eutecraudin"><h4>Humor Craudim.</h4><h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h4></a><h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h5>
          <p>-Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>

        
<%- include("partials/footer"); -%>


