<%- include("partials/header"); -%>

<style>
    #botaoPostarHeader{
        display: none;
    }
</style>

<img class="tesaoAnuncio" id="tesao" src="https://sensacion.com.br/wp-content/uploads/2019/11/4-tes%C3%A3o-de-vaca-e-touro-25-2.jpg" alt="">
    <h1>Contact</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s<a href="(54) 95363-4598">(54) 95363-4598</a></p>


<%- include("partials/footer"); -%>
